# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Show how to evaluate an arithmetic expression in Python
- Create a markdown cell 

## Author
Riad Bourayou

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. NumPy

|  Data Science Tools |
|---|
|  Jupyter |
| Spyder  |
|  Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
time_in_minutes = 200
time_in_hours = time_in_minutes / 60